@font-face {
  font-family: Nordic Alternative;
  src: url('./src/assets/nordic.ttf');
  font-weight:400;
  font-weight:normal;
}

body { background-color: #000; margin: 0; }

canvas { width: 100% !important; height: auto !important; }

#vikingpedia {
  box-sizing: border-box;
  padding: 2rem;
  background-color:rgba(0, 0, 0, 0.9);
  background-image:url(src/assets/img/VP/FrameRedu.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: absolute;
  width: 100% !important;
  display: flex;
  z-index: 999;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
}

#finalVideo,
#startVideo {
  display: none;
  width: 100vw;
  height: 100vh;
}

#vikingpedia.hidden {
  height: 0;
  padding: 0;
}

#vikingpedia.show {
  height: 100vh !important;
  padding: 2rem;
}

.list {
  max-height: 100vh;
  overflow: auto;
  border-right: 2px dashed #fff;
  padding: 0;
  margin-left: 50px;
  box-sizing: border-box;
  color: #fff;
  font-size: 45px;
  list-style: none;
  width: 40%;
}

.list li {
  font-size: 53px;
  padding-right: 40px;
}

.text {
  width: 60%;
  margin: 0;
  max-height: 100vh;
  overflow: auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 33px;
  color: #fff;
}


pre {
  white-space: pre-wrap;
  text-align: justify;
}
